n8n-workflows/07_Step_I07_HireCandidate.json
{
  "name": "HCM Step I-07 — HireCandidate [ROBOT]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hcm/step/i07-hire-candidate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "i07_webhook",
      "name": "Webhook — I-07 Hire"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst b = root.body && typeof root.body === 'object' ? root.body : root;\nconst candidateId = b.candidateId || b.candidate_id;\nif (!candidateId) throw new Error('candidateId required');\nreturn [{ json: { candidate_id: candidateId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "i07_validate",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "url": "https://yozyspuriehckddkhina.supabase.co/rest/v1/candidates?id=eq.{{ $json.candidate_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "=Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "id": "i07_getCandidate",
      "name": "GET Candidate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yozyspuriehckddkhina.supabase.co/rest/v1/rpc/generate_personnel_number",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "=Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "id": "i07_genPN",
      "name": "Generate Personnel Number"
    },
    {
      "parameters": {
        "jsCode": "const candidateArr = $('GET Candidate').first().json;\nconst candidate = Array.isArray(candidateArr) ? candidateArr[0] : candidateArr;\nconst pnRaw = $input.first().json;\nconst personnelNumber = typeof pnRaw === 'string' ? pnRaw : (pnRaw.generate_personnel_number || Object.values(pnRaw)[0] || 'EMP00001');\nconst today = new Date().toISOString().split('T')[0];\nif (!candidate || !candidate.id) throw new Error('Candidate not found');\nreturn [{ json: {\n  personnel_number: personnelNumber,\n  candidate_id: candidate.id,\n  first_name: candidate.first_name,\n  last_name: candidate.last_name,\n  email: candidate.email,\n  phone: candidate.phone || null,\n  date_of_birth: candidate.date_of_birth || today,\n  position_id: candidate.position_id || null,\n  org_unit_id: candidate.org_unit_id || null,\n  start_date: today,\n  status: 'active'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "i07_assembleEmployee",
      "name": "Assemble Employee Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yozyspuriehckddkhina.supabase.co/rest/v1/employees",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "=Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "id": "i07_insertEmployee",
      "name": "INSERT Employee"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://yozyspuriehckddkhina.supabase.co/rest/v1/positions?id=eq.{{ $('Assemble Employee Data').first().json.position_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "=Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'filled' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0],
      "id": "i07_patchPosition",
      "name": "PATCH Position filled"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yozyspuriehckddkhina.supabase.co/rest/v1/process_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "=Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  process_id: $('Assemble Employee Data').first().json.candidate_id,\n  process_type: 'onboarding',\n  step_code: 'I-07',\n  path_type: 'robot',\n  status: 'success',\n  message: 'Mitarbeiter angelegt: ' + $('Assemble Employee Data').first().json.first_name + ' ' + $('Assemble Employee Data').first().json.last_name + ' (' + $('Assemble Employee Data').first().json.personnel_number + ')',\n  payload: { personnel_number: $('Assemble Employee Data').first().json.personnel_number, start_date: $('Assemble Employee Data').first().json.start_date }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 0],
      "id": "i07_logevent",
      "name": "Log process_event [ROBOT]"
    },
    {
      "parameters": {
        "jsCode": "const emp = $('Assemble Employee Data').first().json;\nconst subject = '[ROBOT \u2713] I-07 abgeschlossen \u2013 Prozess I komplett | ' + emp.first_name + ' ' + emp.last_name;\nconst html = '<div style=\"font-family:sans-serif;max-width:560px;margin:0 auto\">' +\n  '<div style=\"background:#1a1a2e;padding:20px 24px;border-radius:8px 8px 0 0\">' +\n  '<span style=\"color:#fff;font-weight:700;font-size:16px\">HCM Robot \u00b7 Prozess I abgeschlossen</span>' +\n  '</div>' +\n  '<div style=\"background:#f8f9fa;padding:24px;border-radius:0 0 8px 8px;border:1px solid #e9ecef\">' +\n  '<div style=\"background:#d1fae5;border:1px solid #a7f3d0;border-radius:6px;padding:12px 16px;margin-bottom:20px\">' +\n  '<p style=\"margin:0;font-size:14px;color:#065f46;font-weight:600\">\u2705 Prozess I vollst\u00e4ndig abgeschlossen \u2013 Mitarbeiter erfolgreich angelegt.</p>' +\n  '</div>' +\n  '<table style=\"width:100%;font-size:14px;border-collapse:collapse\">' +\n  '<tr><td style=\"padding:8px 0;color:#868e96;width:140px\">Schritt</td><td style=\"padding:8px 0;font-weight:600\">I-07 \u2013 HireCandidate</td></tr>' +\n  '<tr><td style=\"padding:8px 0;color:#868e96\">Pfad</td><td style=\"padding:8px 0\"><span style=\"background:#dbeafe;color:#1d4ed8;padding:2px 10px;border-radius:4px;font-size:12px;font-weight:700\">ROBOT</span></td></tr>' +\n  '<tr><td style=\"padding:8px 0;color:#868e96\">Mitarbeiter</td><td style=\"padding:8px 0;font-weight:600\">' + emp.first_name + ' ' + emp.last_name + '</td></tr>' +\n  '<tr><td style=\"padding:8px 0;color:#868e96\">Personalnr.</td><td style=\"padding:8px 0;font-weight:600;font-family:monospace;font-size:15px\">' + emp.personnel_number + '</td></tr>' +\n  '<tr><td style=\"padding:8px 0;color:#868e96\">Eintritt</td><td style=\"padding:8px 0\">' + emp.start_date + '</td></tr>' +\n  '</table>' +\n  '</div></div>';\nreturn [{ json: { subject, html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0],
      "id": "i07_prepareMail",
      "name": "Prepare Completion Email"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer YOUR_RESEND_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'onboarding@resend.dev', to: ['YOUR_HR_NOTIFY_EMAIL'], subject: $json.subject, html: $json.html }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 0],
      "id": "i07_sendMail",
      "name": "Send Completion Mail"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, step: 'I-07', path: 'robot', personnel_number: $('Assemble Employee Data').first().json.personnel_number, process: 'Process I complete' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 0],
      "id": "i07_respond",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — I-07 Hire":      { "main": [[{ "node": "Validate Input",            "type": "main", "index": 0 }]] },
    "Validate Input":           { "main": [[{ "node": "GET Candidate",             "type": "main", "index": 0 }]] },
    "GET Candidate":            { "main": [[{ "node": "Generate Personnel Number", "type": "main", "index": 0 }]] },
    "Generate Personnel Number":{ "main": [[{ "node": "Assemble Employee Data",    "type": "main", "index": 0 }]] },
    "Assemble Employee Data":   { "main": [[{ "node": "INSERT Employee",           "type": "main", "index": 0 }]] },
    "INSERT Employee":          { "main": [[{ "node": "PATCH Position filled",     "type": "main", "index": 0 }]] },
    "PATCH Position filled":    { "main": [[{ "node": "Log process_event [ROBOT]", "type": "main", "index": 0 }]] },
    "Log process_event [ROBOT]":{ "main": [[{ "node": "Prepare Completion Email",  "type": "main", "index": 0 }]] },
    "Prepare Completion Email": { "main": [[{ "node": "Send Completion Mail",      "type": "main", "index": 0 }]] },
    "Send Completion Mail":     { "main": [[{ "node": "Respond",                   "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [{ "name": "robot" }, { "name": "process-i" }, { "name": "step-i07" }]
}
